@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
    --cor-principal: #100F0F;
    --cor-secundaria: #F9F9F9;
    --fonte-titulo: "Caesar Dressing", system-ui;
    --fonte-texto: "Nunito", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-texto);
}

body {
    width: 100vw;
}

main {
    width: 100%;
}